$color-primary: #549c84;
$color-secondary: #fdcb46;
$color-font-first: #562f37;
$color-font-second: #c77412;
$color-font-third: #2795fb;
$color-font-fourth: #7dc463;
$color-back-first: #fcdfdb;
$color-back-second: #fff5fe;
$color-back-third: #f9f9f9;
$color-back-fourth: #fdfffd;
$color-border-header: #a1c181;

$footer-padding: 40px;
$margin: 90px;
$bloc-size: (
  button-height: 118px,
  button-width: 654px,
  header-height: 244px,
  footer-height: 136px,
  section-height: 760px,
  main-width: 1174px,
);

$font-size: (
  title: 90px,
  link: 40px,
  button: 3rem,
  menu: 56px,
  name: 44px,
  chic: 34px,
  dish: 28px,
  text: 20px,
  menu__title: 2rem,
);
$logo-size: 116px;
$title-size: 80px;
$link-size: 40px;