.main__menu--variation3 {
    max-width: 1200px;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $color-back-third;
    box-shadow: 0px 0px 5px 6px #f1f1f1;
    margin-top: 0;
    margin-bottom: $margin * 2;
    color: #000000;
    font-family: "Segoe print";
    line-height: 50px;
    padding-bottom: 100px;
}

.section {
    &__header--variation3 {
        font-family: "Dancing Script", "Segoe print", Verdana, Helvetica, sans-serif;
        width: 100%;
        box-shadow: none;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & h3 {
            font-size: $title-size;
            font-weight: normal;
            margin: 0;
            background: -webkit-linear-gradient( bottom right, $color-font-third, #0431df);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 100px 0 60px 20px;
            @media screen and (max-width: 991px) {
                font-size: 50px;
            }
            @media screen and (max-width: 699px) {
                font-size: 40px;
                text-align: center;
            }
        }
    }
    &__menu--variation3 {
        width: 100%;
        box-shadow: none;
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h4 {
            font-size: map-get($map: $font-size, $key: chic);
            background: linear-gradient(to top, #000000 0%, #000000 4px, transparent 5px)
                no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s;
            @media screen and (max-width: 991px) {
                font-size: 22px
            }
            @media screen and (max-width: 699px) {
                font-size: 18px;
                text-align: center;
            }
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
}
